*
{
    margin: 0px;
    padding: 0px;
}
@font-face
{
    font-family:"Noto";
    src: url("Images/Noto_Sans_JP/NotoSansJP-Medium.otf");
}
$grey-light:  #bfbfbf;
$grey-dark: #737373;
%entity
{
    width: 50px;
    height: 50px;
    box-sizing: content;
    display: flex;
    justify-content: center;
    align-items: center;

}
%btn-noHidden
{
    
    border: 2px solid white;
    border-style: inset;
    display: none;
    z-index: 2;
    background-color:$grey-dark;
    align-self: center;
    
}

%size
{
    width: 50px;
    height: 50px;
}
body
{
    background-color: white;
    text-align: center;
    font-family: "Noto"; 
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    width: 20px;
    height: 20px;
}

.table 
{
    width: 418px;
    height: 416px;
    border: 5px solid black;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid black;
    margin-top: 50%;
    z-index: 1  
}
.td 
{
    @extend %entity;
    @extend %btn-noHidden;
    
    &--one
    {
        @extend %btn-noHidden;
        @extend %size;
        color: green;  
    }
    &--two
    {
        @extend %btn-noHidden;
        @extend %size;
        color: red;
    }
    &--three
    {
        @extend %btn-noHidden;
        @extend %size;
        color: blue;  
    }
    
}

.tdhidden
{
    border: 1px solid $grey-light; 
    @extend %entity;
}

.tdhidden:hover
{
    .tdhidden
    {
        display: none;
        background-color: $grey-dark;   
    }
    .td , .td--one, .td--two, .td--three
    {
        display: block
    }
}